body {
    background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%);
    background-repeat: no-repeat;
    background-attachment: fixed;

    color: #f1f1f1;
    font-family: 20px 'Open Sans', sans-serif;
    line-height: 1.8;
}

.container-fluid {
    padding-top: 50px;
    padding-bottom: 50px;
}

footer p a {
    color: rgba(0,0,0,0.8);
}

#contact {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center
}

#contact i {
    font-size: 3rem;
    margin: 5px;
}

#contact i:hover {
    color: #d1d1d1;
}

footer a i.fa {
    font-size: inherit;
}
