body {
    background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%);
    background-repeat: no-repeat;
    background-attachment: fixed;

    color: #f1f1f1;
    font-family: 20px 'Open Sans', sans-serif;
    line-height: 2;
}

.container-fluid {
    padding-top: 50px;
    padding-bottom: 50px;
}

footer p a {
    color: rgba(0,0,0,0.8);
}

#contact {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center
}

#contact a i {
    color: #f1f1f1;
    font-size: 4rem;
    margin: 5px;
}

#contact i:hover {
    color: #d1d1d1;
}

footer a i.fa {
    font-size: inherit;
}

.nav-element {
	font-family: 20px 'Open Sans', sans-serif;
	font-size: 3rem;
	margin: 5px;
	margin-top: 10px;	
	font-color:#ffffff;
}

a{
	color : #ffff00;
}	

h1{
	color : #ffa500;
}	

.resume a{
	color:#ffffff;
	   font-size: 3rem;
}